body {
      margin: 0px;
      user-select: none;
}

.container {
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Setzt die Höhe des Containers auf 100% der Bildschirmhöhe */
}



.container .left .title {
      font-family: Roboto;
      font-weight: 700;
      font-size: 42px;
      color: #2F27CE;
      height: Hug (684px);
}

.container .right .title {
      font-family: Roboto;
      font-weight: 500;
      font-size: 25px;
      color: #333333;
}

.container .right .subtitle {
      font-family: Roboto;
      font-weight: 300;
      font-size: 17.03px;
      color: #333333;
}

.container .right .field {
      background-color: #FFFFFF;
      border-radius: 21.29px;
      box-shadow: 0px 0px 111.54px rgba(0, 0, 0, 0.25);
}