body {
      margin: 0px;
}

.top_bar {
      background-color: #F9F9F9;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1.5vh 1.5vh 1vh 10vh;
      justify-content: space-between;
}

.top_bar .title {
      font-size: 5vh;
      font-weight: bold;
      color: #2F27CE;
      font-family: Roboto;
}

.top_bar .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 5vh;
}

.top_bar .buttons .button {
      font-family: Roboto;
      font-size: 3vh;
      color: #333333;
      cursor: pointer;
}

.top_bar .buttons .kleine_buttons{
      display: flex;
      flex-direction: row;
      gap: 5vh;
      align-items: center;
}

.top_bar .buttons .login {
      background-color: #2F27CE;
      color: white;
      padding: 1.5vh 4vh;
      border-radius: 1.5vh;
      font-size: 3vh;
      font-family: Roboto;
      cursor: pointer;
      margin-right: 10vh;
}

.container {
      display: flex;
      flex-direction: column;
      width: 100%;
}

.container .intro {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 11vh;
}

.container .intro .texts {
      display: flex;
      gap: 3vh;
      flex-direction: column;
}

.container .intro .texts .title {
      font-size: 8vh;
      font-family: Roboto;
      font-weight: 900;
      color: #2F27CE;
}

.container .intro .texts .subtitle {
      color: #5F5757;
      font-family: Roboto;
      font-size: 4vh;
      width: 60vh;
}

.container .intro .texts .button-part {
      display: flex;
      gap: 1vh;
}

.container .intro .texts .button-part .button {
      color: #FFFFFF;
      background-color: #2F27CE;
      padding: 2vh 4vh 2vh 4vh;
      border-radius: 1.5vh;
      font-family: Roboto;
      font-size: 2.5vh;
      height: 3vh;
      cursor: pointer;
}

.container .intro .texts .button-part .arrow {
      flex-direction: row;
      display: flex;
}

.container .intro .texts .button-part .arrow img {
      height: 9vh;
      width: 20vh;
}

.container .intro .texts .button-part .arrow .text{
      font-family: Roboto;
      font-size: 2.5vh;
      color: #5A69F2;
      background-color: #F6F7FE;
      border-radius: 20vh;
      padding: 1.5vh;
      height: 3vh;
      transform: rotate(25deg);
      margin-left: -6.5vh;
      margin-top: -3vh;
}

.container .intro .illustration img {
      height: 63vh;
}

.team {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 15vh;
}

.team .people {
      width: 120vh;
      display: flex;
      flex-wrap: wrap;
      gap: 2vh;
}

.team .people .person {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #FAFAFA;
      border: 0.3vh solid #F1F1F1;
      padding: 2.5vh 5vh 0vh 5vh;
      border-radius: 3vh;
      width: 35vh;
      order: 1;
}

.team .people .person img {
      height: 30vh;
      width: 40vh;
      object-fit: cover;
      border-radius: 1.5vh;
}

.team .people .person .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 80%;
      padding: 1vh;
}

.team .people .person .info .name {
      font-family: Roboto;
      font-size: 3vh;
      font-weight: bold;
}

.team .people .person .info .job {
      font-family: Roboto;
      font-size: 3vh;
}

.team .information {
      display: flex;
      flex-direction: column;
      gap: 3vh;
      order: 2;
}

.team .information .title {
      color: #2F27CE;
      font-family: Roboto;
      font-size: 6vh;
      font-weight: bold;
}

.team .information .subtitle {
      color: #5F5757;
      font-family: Roboto;
      font-size: 3vh;
      width: 60vh;
}

.team .information .button {
      color: white;
      background-color: #2F27CE;
      padding: 2vh;
      border-radius: 2vh;
      width: 8.5vh;
      font-family: Roboto;
      font-size: 2.5vh;
      cursor: pointer;
}

.features {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10vh;
      margin: 20vh;
}

.features .tags {
      display: flex;
      gap: 3vh;
}

.features .texts {
      align-items: center;
      display: flex;
      flex-direction: column;
}

.features .texts .title {
      font-family: Roboto;
      color: black;
      font-size: 7vh;
      font-weight: 650;
}

.features .texts .line {
      height: 3vh;
      width: 20vh;
      background-color: #DEDCFF;
      margin-top: -3vh;
      z-index: -1;
      margin-bottom: 2vh;
}

.features .texts .subtitle {
      font-family: Roboto;
      color: #5F5757;
      font-size: 3vh;
      max-width: 90vh;
      text-align: center;
}

.features .tags .tag {
      display: flex;
      gap: 2.5vh;
      align-items: center;
      justify-content: center;
}

.features .tags {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
} 

.features .tags .tag .text {
      font-family: Roboto;
      font-size: 4vh;
      color: #000000;
      font-weight: 900;

}

.features .tags .tag img {
      height: 12vh;
      width: 12vh;
}

@media (max-width: 730px) {
      .container .intro .illustration img {
            height: 50vh;
      }
      .container .intro {
            flex-wrap: wrap;
            margin-top: 15vh;
      }
      .team {
            flex-direction: column;
      }
      .team .people {
            width: 94vh;
            order: 2;
      }
      .team .information {
            order: 1;
            margin-bottom: 6vh;
      }
      .buttons .kleine_buttons .button {
            display: none ;
      }
      .features .tags {
            flex-direction: column;
      }
}


            @media (max-width: 530px) {
                  .container {
                        transform: scale(0.5);
                        transform-origin: top;
                  }

                  .top_bar {
                        gap: 0vh;
                        padding-left: 1vh;
                  }

                  .top_bar .title {
                        transform: scale(0.8);
                        padding: 0vh;
                  }
                  .top_bar .buttons {
                        gap: 0vh;
                        margin-right: 0vh;
                  }
                  .top_bar .buttons .login {
                        transform: scale(0.8);
                        margin-right: 0vh;
                  }
                  .container {
                        width:inherit ;
                        margin: 0vh;
                        height: 100%;
                  }

                  .top_bar .buttons .kleine_buttons {
                        gap: 0vh;
                  }
            }

      @media (max-width: 430px) {
            .team .people .person img {
                  width: 35vh;
            }

            .team .people .person {
                  width: 30vh;
            }

            .team .people {
                  justify-content: center;
                  align-items: center;
            }
            .container .intro .illustration img {
                  margin-left: -10vh;
            }
      }




/* unvisited link */
a:link {
      text-decoration: none;
    }
    
    /* visited link */
    a:visited {
      text-decoration: none;
    }
    
    /* mouse over link */
    a:hover {
      text-decoration: none;
    }
    
    /* selected link */
    a:active {
      text-decoration: none;
    }
    